
body{
  margin: 0;
  position: relative;
}

/* navbar css */
.navbar{
  display: flex;
  justify-content: space-between; 
  background-color: white;
  padding: 15px;
}


 a , .shopby{
  text-decoration: none;
  color: rgb(102, 101, 101);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-right: 30px;
}

.brand{
  font-size: 1.2rem;
  color: rgb(39, 38, 38);
  margin-right: 60px;
}
.nav-items{
  margin-left: 120px;
  text-align: center;
  padding-top: 5px;
}

/* cart css required */
.cart{
  margin-right: 170px;
 
}

.cart-name{
  margin: 3px 0 0 10px;
  font-size: 15px;
}

.cart-btn{
  padding: 5px 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-btn:hover{
  cursor: pointer;
}

.aa{
  margin-left: 5px;
  /* height: 5px; */
}

.cart-icon{
 margin-top: 4px;
}

.counter{
  text-align: center;
  margin-left: 10px;
  color: white;
}
.count{
  margin: 0;
  padding: 4px 4px 2px 4px;
  background-color: black;
  border-radius: 2rem;
}


.banner{
  text-align: center;
  background-color: rgb(37, 37, 37);
  padding: 50px 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-title{
  font-size: 1.4rem;
  color: rgb(104, 104, 104);
  margin-top: 0;
  margin-bottom: 50px;
}

.title{
  color: white;
  font-size: 3.8rem;
  margin-bottom: 10px;
}


.parent{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 45px;
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
  height: 210px;
}

.child{
  text-align: center;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0.5rem;
  overflow: hidden;
}


/* cart */
.cartDiv{
  position: absolute;
  background-color: white;
  padding: 10px 10px 0 10px;
  width: 280px;
  height: auto;
  right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: scroll; */
}

.mainCart{
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}

.cartImage{
  width:70px;
  height: 70px;
}

.infos{
  padding: 10px 0 ;
  width: 125px;
}

.prodTitle{
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.prodCost{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.btnDiv{
  padding-top: 22px;
}

.removeBtn{
  border: none;
  background-color: rgb(192, 190, 190);
  font-size: bolder;
  padding-top: 2px;
}

.removeBtn:hover{
  background-color: red;
  cursor: pointer;
 
}


/* card css */

.info{
  padding: 15px;
}

.heading{
  margin-bottom: 12px;
  margin-top: 5px;
}

.rating{
  margin-top: 2px;
  margin-bottom: 2px;
}

.title-Div{
  width: auto;
  height: 95px;
}

.addbtns{
  margin-top: 30px;
  padding: 12px 15px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.addbtns:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.shopby{
  border: none;
  background-color: white;
}

.shopby:hover{
  cursor: pointer;
}

.addbtns:disabled{
  background-color: rgb(247, 247, 247);
  color: rgb(194, 194, 194);
}


.footer{
  background-color:rgb(37, 37, 37);
  padding: 25px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:1230px){
  .parent{
    grid-template-columns: repeat(3,1fr);
  }
}